.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.main2{
  margin: 3rem auto;
  width: 90%;
  /* max-width: 80rem; */
  text-align: center;
  display: flex;
  justify-content: center;
}
